<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="saas" value="https://clouddsein.jfrog.io/artifactory/api/nuget/v3/pruthvi-nuget" />
  </packageSources>
  <apikeys>
    <add key="saas" value="https://clouddsein.jfrog.io/artifactory/api/nuget/v3/pruthvi-nuget" protocolVersion="3" />
    <add key="https://clouddsein.jfrog.io/artifactory/api/nuget/v3/pruthvi-nuget" value="YNIvSJtlTdBtPv+ONXvZj5RB3U+wEQme2EN1O1THrGPGjmsRmMoMaaaJy0mqRBEOVaSuClpMR3FH+uvMfbBJ41qr+rTwuke5AGLBVJE+oO5joHh45RLr2oQZT8LpesPvxgRcImKstqka2/iNLq+OLtzXCrR+gUhKDiJRCEV/XYvpkzh6JM59F5wplDix7hwCfL2ihIgH54C+o1VUePuXotZZ1DpebUzBWsfasYT7t50n2O5U/q5NgRK6NxV1v7ptGFiz8KX3BU16TIYKawWIAKSFNeHEkPTDqtEiaUdGmIsMo5sDfLaK6BeK7iW4tvqr" />
  </apikeys>
  <packageSourceCredentials>
    <saas>
      <add key="Username" value="pruthvi" />
      <add key="Password" value="ZKnbb6r9F3DnarugSszTaZ4e38wwyzcfdVeIbaG21NHVFTY475y+TsgKWhc/vdCLdtPoMAFpDDYr0PER/G2LXf+y0tUXD4YdOe9p8aU1Z0LuTcTV6X3ULUYgC2XuypjXPHOfG8La8c7YknL/mFWqCM8q4zFUQ5cCcLkM8ExJ+9ctF0qRyWN9/w6hvfTDdAJzvSrY/sPnaJ3BdCojxO2Q0DAwNyIn59Yq6duwq1HKgI2Zb/JosqUyuopAgqWp8hvUYA7AAFPGPOln9NqdxCzp/eCYC/yfPpnYQtadNmYUz8Y=" />
    </saas>
  </packageSourceCredentials>
</configuration>
